.projects {
    padding-bottom: 2rem;
  
    .showcase {
      margin-top: 3rem;
    }
      .text-secondary {
        font-size: 2rem;
        margin-bottom: 2rem;
      }
   
  
    &__items {
      width: 60vw;
      margin: 2rem auto 0 auto;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 2rem;
    }
  
    &__item {
      position: relative;
      border-bottom: 3px solid $secondary-color;
      overflow: hidden;
      cursor: pointer;
  
      img {
        width: 100%;
      }
  
      .author {
        margin-top: 1rem;
        margin-bottom: 0.3rem;
      }
    }
}
    .social-icons {
      display: flex;
      flex-direction: column;
    }
  
    footer {
      transform:
        rotate(90deg)
        translate(-3rem, -5rem);
    }
    
  
  
  